body{
    margin: auto;
  }
  
  .row{ 
    margin: auto;
  }
  
  .col-sm-4{
      margin-bottom: 2%;
  }

  .btn{
    box-shadow: 3px 3px 1px rgba(0,0,0,1);
    border: 1.5px solid black;
    color: black;
    background-color: white;
    margin: 1%;
    font-weight: bold;
    width: 100px;
  }
  
  .card{
    display: inline-block;
    padding: 5% .5% .5% .5%;
    margin: 1%;
    text-align: center;
    box-shadow: 3px 3px 1px rgba(0,0,0,1);
    border: 1.5px solid black;
    border-radius: 3%;
    height: 100%;
  }
  
  .card-img-top{
    border-radius: 10px;
    width: 25%;
    margin: 0 auto;
    border: 1.5px solid black;
    box-shadow: 3px 3px 1px rgba(0,0,0,1);
  }
  
  .card-title{
    font-weight: bold;
    font-size: 20px;
  }

  table{
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
  
  .dropdown li{
    padding: 10%;
  }
  
  .dropdown li a{
    text-decoration: none;
    color: black;
  }
  
  .dropdown li:hover{
    background-color: #f5f5f5;
  }
  