body{
  margin: auto;
}

.row{ 
  margin: auto;
}

#my_character{
    margin-bottom: 2%;
}

.btn{
  color: black;
  background-color: white;
  margin: 1%;
  font-weight: bold;
  width: 100px;
}

.card{
  display: inline-block;
  padding: 5% .5% .5% .5%;
  margin: 1%;
  text-align: center;
  border-radius: 3%;
  height: 100%;
}

.card-img-top{
  border-radius: 10px;
  border: 1px solid;
  margin: 0 auto;
}

img{
  padding: 4%;
}

.card-title{
  font-weight: bold;
  font-size: 20px;
}

table{
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.dropdown li{
  padding: 10%;
}

.dropdown li a{
  text-decoration: none;
  color: black;
}

.dropdown li:hover{
  background-color: #f5f5f5;
}

.card-footer{
  background-color: white;
}

@media only screen and (max-width: 600px) {
.card-img-top {
  width: 25%;
}
img{
  padding: 1%;
}
}  